.topSector {
    background-color: rgb(136, 229, 252);
}

.headline {
  color: black;
  text-align: center;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.navBar {
    list-style-type: none;
    overflow:hidden;
    text-align: center;
    color: gray;
}

.navElem {
    display: inline;
    padding: 5px;
}

.navElem + .navElem:before{
    content: " | ";
    padding: 0 30px;
    color: rgb(131, 186, 200);
}

.description {
    text-align: center;
    font-weight: bold;
}

.blueBar {
    background-color: rgb(77, 215, 250);
}

hr {
    border: 0;
}